body {
  background-color: #000;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.logo-link {
  display: inline-block;
  margin-right: 50px;
}
.logo-img {
  width: 46px;
  height: 71px;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
}
.header {
  max-width: 1140px;
  margin: 0 auto;
  padding-top: 40px;
  display: flex;
  align-items: center;
}
.nav-menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}
.nav-menu-item {
  margin-right: 30px;
}
.nav-menu-link {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  display: inline-block;
}
.film-date {
  display: block;
  font-size: 24px;
  line-height: 28px;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 38px;
}
.film-description {
  width: 423px;
  font-size: 16px;
  line-height: 140%;
  color: rgba(255, 255, 255, 0.5);
}
